@use '@owlui/theme/src' as theme;

$border-clr: #dadada;

.navigation-drawer {
  $ref: &;

  min-width: 200px;
  box-shadow: 5px 5px 12px 1px rgb(0 0 0 / 15%);

  @include theme.typeface-sm;

  &--theme {
    &--default {
      border: 1px solid $border-clr;

      & #{$ref}__content-subheader {
        color: theme.$owl-ref-palette-grey-300;
      }

      /* appearances */
      &-primary {
        border-color: $border-clr;

        & #{$ref}__content-subheader {
          color: var(--clr-secondary);
        }
      }
    }

    &--dark {
      & #{$ref}__content-subheader {
        color: var(--clr-light);
      }
    }
  }

  &__header {
    padding: var(--spacer);
  }

  &__content {
    padding: 0 0.5rem;

    &-subheader {
      font-size: theme.$owl-ref-typeface-body-sm-size;
      margin: var(--spacer) 0 0 0;
      padding: 0.25rem 0.5rem;
    }

    &-group {
      margin-bottom: var(--spacer);
    }
  }

  &__item {
    padding: 0.5rem 4rem 0.5rem 0.5rem;
  }
}
