@use '@owlui/theme/src' as theme;

$border-clr: #dadada;

.navigation-drawer {
  $ref-subheader: &;

  @include theme.typeface-sm;
  min-width: 200px;
  box-shadow: 5px 5px 12px 1px rgb(0 0 0 / 15%);
  border: 1px solid $border-clr;

  &__header {
    @include theme.typeface-md;
    padding: var(--spacer) 1rem;
  }

  &__content {
    padding: 0 0.5rem;

    &-subheader {
      $ref-subheader: &;

      @include theme.typeface-xs;
      color: var(--color-font-dark-highlight);
      margin: var(--spacer) 0 0 0;
      padding: 0.25rem 0.5rem;
    }

    &-group {
      margin-bottom: var(--spacer);
    }
  }

  &__item {
    padding: 0.5rem 4rem 0.5rem 0.5rem;
  }

  &.theme--dark {
    background-color: var(--bs-light);
  }

  &--appearance {
    &-primary {
      color: var(--color-font-light);

      &.theme--default {
        background-color: var(--bs-primary);

        & #{$ref-subheader} {
          color: var(--color-font-light);
        }
      }

      &.theme--dark {
        background-color: var(--bs-dark);
      }
    }
  }
}
