@use '@owlui/lib/src/theme/utils' as utils;

.icons,
.icons-outlined {
  color: var(--color-font-dark);

  &.theme--dark {
    color: var(--color-font-light);
  }

  &--appearance {
    &-primary {
      &.theme--default {
        color: var(--color-font-primary);
      }

      &.theme--dark {
        color: var(--color-font-light);
      }
    }

    &-alt {
      color: var(--color-font-light);
      background-color: var(--bs-primary);
    }
  }

  &--size {
    &-h1 {
      font-size: var(--typeface-heading-1-size);
    }

    &-h2 {
      font-size: var(--typeface-heading-2-size);
    }

    &-h3 {
      font-size: var(--typeface-heading-3-size);
    }

    &-h4 {
      font-size: var(--typeface-heading-4-size);
    }

    &-h5 {
      font-size: var(--typeface-heading-5-size);
    }

    &-h6 {
      font-size: var(--typeface-heading-6-size);
    }

    &-lg {
      font-size: var(--typeface-body-lg-size);
    }

    &-md {
      font-size: var(--typeface-body-md-size);
    }

    &-sm {
      font-size: var(--typeface-body-sm-size);
    }
  }
}
