@use 'sass:math';
@use 'sass:meta';
@use './variables.scss' as *;

$gutter: $owl-sys-layout-spacer;
$gutter-half: ($gutter * 0.5);
$gutter-comp: ($gutter-half * -1);
$margin-outer: ($gutter * 2);
$breakpoint-xs: 0;
$breakpoint-sm: 30rem;
$breakpoint-md: 40rem;
$breakpoint-lg: 64rem;
$breakpoint-xl: 75rem;
$breakpoint-hd: 100rem;
$column-size-1: math.percentage(math.div(1, math.div(12, 1)));
$column-size-2: math.percentage(math.div(1, math.div(12, 2)));
$column-size-3: math.percentage(math.div(1, math.div(12, 3)));
$column-size-4: math.percentage(math.div(1, math.div(12, 4)));
$column-size-5: math.percentage(math.div(1, math.div(12, 5)));
$column-size-6: math.percentage(math.div(1, math.div(12, 6)));
$column-size-7: math.percentage(math.div(1, math.div(12, 7)));
$column-size-8: math.percentage(math.div(1, math.div(12, 8)));
$column-size-9: math.percentage(math.div(1, math.div(12, 9)));
$column-size-10: math.percentage(math.div(1, math.div(12, 10)));
$column-size-11: math.percentage(math.div(1, math.div(12, 11)));
$column-size-12: math.percentage(math.div(1, math.div(12, 12)));

.grid {
  &-container {
    margin: 0 auto;
    width: calc(100% - $gutter);
  }

  &-row {
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: $gutter-comp;
    margin-left: $gutter-comp;

    &--reverse {
      flex-direction: row-reverse;
    }
  }

  &-col {
    &--reverse {
      flex-direction: column-reverse;
    }
  }
}

@mixin column-def {
  box-sizing: border-box;
  flex: 0 0 auto;
  padding-right: $gutter-half;
  padding-left: $gutter-half;
}

@mixin grid-system($args...) {
  @each $name, $value in meta.keywords($args) {
    @media only screen and (min-width: $value) {
      .grid {
        &-container {
          width: ($value - 1);
        }

        &-col {
          &-#{$name} {
            flex-grow: 1;
            flex-basis: 0;
            max-width: 100%;

            &-1,
            &-2,
            &-3,
            &-4,
            &-5,
            &-6,
            &-7,
            &-8,
            &-9,
            &-10,
            &-11,
            &-12 {
              @include column-def;
            }

            &-1 {
              flex-basis: $column-size-1;
              max-width: $column-size-1;
            }

            &-2 {
              flex-basis: $column-size-2;
              max-width: $column-size-2;
            }

            &-3 {
              flex-basis: $column-size-3;
              max-width: $column-size-3;
            }

            &-4 {
              flex-basis: $column-size-4;
              max-width: $column-size-4;
            }

            &-5 {
              flex-basis: $column-size-5;
              max-width: $column-size-5;
            }

            &-6 {
              flex-basis: $column-size-6;
              max-width: $column-size-6;
            }

            &-7 {
              flex-basis: $column-size-7;
              max-width: $column-size-7;
            }

            &-8 {
              flex-basis: $column-size-8;
              max-width: $column-size-8;
            }

            &-9 {
              flex-basis: $column-size-9;
              max-width: $column-size-9;
            }

            &-10 {
              flex-basis: $column-size-10;
              max-width: $column-size-10;
            }

            &-11 {
              flex-basis: $column-size-11;
              max-width: $column-size-11;
            }

            &-12 {
              flex-basis: $column-size-12;
              max-width: $column-size-12;
            }

            &-offset {
              &-1,
              &-2,
              &-3,
              &-4,
              &-5,
              &-6,
              &-7,
              &-8,
              &-9,
              &-10,
              &-11,
              &-12 {
                @include column-def;
              }

              &-1 {
                margin-left: $column-size-1;
              }

              &-2 {
                margin-left: $column-size-2;
              }

              &-3 {
                margin-left: $column-size-3;
              }

              &-4 {
                margin-left: $column-size-4;
              }

              &-5 {
                margin-left: $column-size-5;
              }

              &-6 {
                margin-left: $column-size-6;
              }

              &-7 {
                margin-left: $column-size-7;
              }

              &-8 {
                margin-left: $column-size-8;
              }

              &-9 {
                margin-left: $column-size-9;
              }

              &-10 {
                margin-left: $column-size-10;
              }

              &-11 {
                margin-left: $column-size-11;
              }

              &-12 {
                margin-left: $column-size-12;
              }
            }
          }
        }

        .start-#{$name} {
          justify-content: flex-start;
          text-align: start;
        }

        .center-#{$name} {
          justify-content: center;
          text-align: center;
        }

        .end-#{$name} {
          justify-content: flex-end;
          text-align: end;
        }

        .top-#{$name} {
          align-items: flex-start;
        }

        .middle-#{$name} {
          align-items: center;
        }

        .bottom-#{$name} {
          align-items: flex-end;
        }

        .around-#{$name} {
          justify-content: space-around;
        }

        .between-#{$name} {
          justify-content: space-between;
        }

        .first-#{$name} {
          order: -1;
        }

        .last-#{$name} {
          order: 1;
        }
      }
    }
  }
}

@include grid-system(
  $xs: $breakpoint-xs,
  $sm: $breakpoint-sm,
  $md: $breakpoint-md,
  $lg: $breakpoint-lg,
  $xl: $breakpoint-xl,
  $hd: $breakpoint-hd
);
