@use './variables.scss' as *;
@use './font-brand' as *;
@use './font-icons' as *;

body {
  font-size: $owl-sys-typeface-body-size;
  font-family: $owl-sys-typeface-body-family, sans-serif;
}

h1 {
  font-size: $owl-sys-typeface-heading-1-size;
  font-family: $owl-sys-typeface-heading-1-family, sans-serif;
}
