# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Dependency directories
node_modules/

# caches
.npm
*.tsbuildinfo
.eslintcache
.parcel-cache

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env
.env.test

# Build output
/build/
/dist/
packages/*/dist
packages/**/*.js
packages/**/*.map
packages/**/test/**.css
lib/dist/
theme/dist/
utils/dist/
web/dist/
.DS_Store
**/.DS_Store
logs/
