@use '@owlui/lib/src/theme/utils' as utils;

.spinner {
  $ref: &;

  @include utils.typeface-sm;
  color: var(--bs-gray-400);

  &.theme--dark {
    color: var(--bs-gray-600);
  }

  &#{$ref}--px-scale {
    &-lg {
      @include utils.typeface-lg;
      --bs-spinner-width: 3em;
      --bs-spinner-height: 3em;
    }

    &-md {
      @include utils.typeface-md;
      --bs-spinner-width: 2em;
      --bs-spinner-height: 2em;
    }

    &-sm {
      @include utils.typeface-sm;
    }
  }
}
