@import '@owlui/theme';

.textfield {

  /* Appearances */
  &_primary {
    background-color: $owl-sys-color-primary;
    color: $owl-sys-color-on-primary;
  }

  /* Sizes */
  &--large {
    font: $owl-sys-typescale-display-large-font;
    font-size: $owl-sys-typescale-display-large-size;
    line-height: $owl-sys-typescale-display-large-line-height;
    font-weight: $owl-sys-typescale-display-large-weight;
  }
}