@use '@owlui/theme/src' as theme;

.btn {
  &.--dark {
    background-color: var(--bg-primary);
  }

  &-primary {
    &.theme--dark {
      background-color: var(--bg-dark);
      color: var(--clr-light);
    }
  }

  &-secondary {
    &.theme--dark {
      background-color: var(--bg-dark);
      color: var(--clr-light);
    }
  }
}
