@use '~@owlui/theme' as theme;

.owlui-button {
  display: inline-block;
  margin: 0;
  padding: theme.$owl-sys-layout-spacer;
  text-align: center;
  white-space: nowrap;
  touch-action: manipulation;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;

  &--theme {
    &--default {
      @include theme.defaultTheme-branding;

      &:hover,
      &:focus {
        @include theme.defaultTheme-branding-hover;
      }

      /* appearances */
      &-primary {
        @include theme.defaultTheme-branding;
      }
    }

    &--dark {
      @include theme.darkTheme-branding;

      &:hover,
      &:focus {
        @include theme.darkTheme-branding-hover;
      }

      /* appearances */
      &-primary {
        @include theme.darkTheme-branding;
      }
    }
  }

  &--size {
    &-lg {
      @include theme.defaultTheme-typeface--large;
    }

    &-md {
      @include theme.defaultTheme-typeface--medium;
    }

    &-sm {
      @include theme.defaultTheme-typeface--small;
    }
  }
}
