@use '@owlui/theme/src' as theme;

@mixin button-link {
  border-color: transparent;
  background-color: transparent;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.button {
  display: inline-block;
  margin: 0;
  padding: var(--spacer);
  text-align: center;
  white-space: nowrap;
  touch-action: manipulation;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  background-color: var(--bg-light);
  color: var(--clr-dark);

  &:hover,
  &:focus,
  &:active {
    opacity: 0.85;
  }

  &:disabled {
    opacity: 0.9;
    cursor: not-allowed;
  }

  &--size {
    &-lg {
      @include theme.typeface-lg;
    }

    &-md {
      @include theme.typeface-md;
    }

    &-sm {
      @include theme.typeface-sm;
    }
  }
}
