@use '@owlui/theme/src' as theme;

.tooltip {
  padding: 0;

  $ref: &;

  @include theme.typeface-sm;

  &.theme--dark {
    background-color: black;

    .popover-body {
      color: white;
    }
  }

  &#{$ref}--size {
    &-lg {
      @include theme.typeface-lg;
    }

    &-md {
      @include theme.typeface-md;
    }

    &-sm {
      @include theme.typeface-sm;
    }
  }
}
