@use '@owlui/lib/src/theme/utils' as utils;

.tooltip {
  padding: 0;

  $ref: &;

  @include utils.typeface-sm;

  &.theme--dark {
    background-color: black;

    .popover-body {
      color: white;
    }
  }

  &#{$ref}--size {
    &-lg {
      @include utils.typeface-lg;
    }

    &-md {
      @include utils.typeface-md;
    }

    &-sm {
      @include utils.typeface-sm;
    }
  }
}
