@use '@owlui/theme/src' as theme;

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  word-wrap: break-word;
  background-color: var(--bg-light);
  border: 1px solid var(--bg-dark);

  &--theme {
    &--default {
      &-outline {
        color: var(--clr-primary);
        background-color: var(--clr-light);
        border-color: var(--clr-primary);
      }
    }

    &--dark {
      &-outline {
        color: var(--clr-dark);
        background-color: var(--bg-light);
      }
    }
  }
}
