@use '~@owlui/theme' as theme;

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  word-wrap: break-word;
  background-color: theme.$owl-sys-bg-light;
  border: 1px solid theme.$owl-sys-bg-dark;

  &--theme {
    &--default {
      &-primary {
        @include theme.defaultTheme-branding;
      }

      &-outline {
        color: theme.$owl-sys-color-primary;
        background-color: theme.$owl-sys-color-on-primary;
        border-color: theme.$owl-sys-color-primary;
      }
    }

    &--dark {
      @include theme.darkTheme-branding;

      &-outline {
        color: theme.$owl-sys-color-on-light;
        background-color: theme.$owl-sys-bg-light;
      }
    }
  }
}
