@use '@owlui/theme/src' as theme;

.accordion {
  $ref: &;

  @include theme.typeface-sm;

  .accordion-body {
    display: flex;
    justify-content: flex-start;
  }

  &.theme--dark {
    h2 {
      color: var(--bs-gray-600);
    }

    input {
      background-color: var(--bs-gray-400);
      color: white;
    }
  }

  &#{$ref}--size {
    &-lg {
      @include theme.typeface-lg;
    }

    &-md {
      @include theme.typeface-md;
    }

    &-sm {
      @include theme.typeface-sm;
    }
  }
}
