@use '../global/variables' as vars;
@use '../global/font-brand' as *;

@mixin default {
  background-color: vars.$owl-sys-bg-light;
  color: vars.$owl-sys-bg-dark;
  border-color: vars.$owl-sys-bg-dark;
}

@mixin branding {
  background-color: vars.$owl-sys-color-on-primary;
  color: vars.$owl-sys-color-primary;
  border-color: vars.$owl-sys-color-primary;
}

@mixin branding--secondary {
  background-color: vars.$owl-sys-color-primary;
  color: vars.$owl-sys-color-on-primary;
  border-color: vars.$owl-sys-color-primary;
}

@mixin typeface--large {
  font-family: vars.$owl-sys-typeface-body-lg-family;
  font-size: vars.$owl-sys-typeface-body-lg-size;
  font-style: vars.$owl-sys-typeface-body-lg-weight;
}

@mixin typeface--medium {
  font-family: vars.$owl-sys-typeface-body-md-family;
  font-size: vars.$owl-sys-typeface-body-md-size;
  font-style: vars.$owl-sys-typeface-body-md-weight;
}

@mixin typeface--small {
  font-family: vars.$owl-sys-typeface-body-sm-family;
  font-size: vars.$owl-sys-typeface-body-sm-size;
  font-style: vars.$owl-sys-typeface-body-sm-weight;
}
