@use '@owlui/theme/src' as theme;

.textfield {
  padding: var(--spacer);
  color: var(--color-font-dark);
  border: 1px solid currentColor;

  &.theme--dark {
    background-color: var(--bs-light);
  }

  &--appearance {
    &-primary {
      &.theme--default {
        color: var(--color-font-primary);
      }

      &.theme--dark {
        color: var(--color-font-dark);
      }
    }
  }

  &--size {
    &-lg {
      @include theme.typeface-lg;
    }

    &-md {
      @include theme.typeface-md;
    }

    &-sm {
      @include theme.typeface-sm;
    }
  }
}
