@use '@owlui/lib/src/theme/utils' as utils;

.table {
  $ref: &;

  &-light {
    &.theme--dark {
      --bs-table-color: var(--bs-white);
      --bs-table-bg: var(--bs-gray-600);
      --bs-table-border-color: #{utils.$owl-ref-palette-gray-500};
      --bs-table-striped-bg: var(--bs-gray-500);
      --bs-table-striped-color: var(--bs-white);
      --bs-table-active-bg: var(--bs-gray-400);
      --bs-table-active-color: var(--bs-white);
      --bs-table-hover-bg: var(--bs-gray-300);
      --bs-table-hover-color: var(--bs-white);
    }
  }

  &#{$ref}--size {
    &-lg {
      @include utils.typeface-lg;
    }

    &-md {
      @include utils.typeface-md;
    }

    &-sm {
      @include utils.typeface-sm;
    }
  }
}
