@use '@owlui/theme/src' as theme;

.dropdown-menu {
  padding: theme.$owl-sys-layout-spacer;
  text-align: center;

  span.icon {
    position: absolute;
    right: 1em;
  }

  &wrapperHidden {
    display: none;
  }

  &-selectedMenuItem {
    background-color: theme.$owl-sys-bg-primary;
    color: white;
  }

  :focus:not(:focus-visible) {
    outline: none;
  }

  ul {
    border: 1px solid black;
    max-height: 8em;
    overflow-y: scroll;
    cursor: pointer;
  }

  li:focus-visible, li:focus {
    outline: 3px solid theme.$owl-sys-bg-primary;
    border-right: 3px solid theme.$owl-sys-bg-primary;
    border-left: 3px solid theme.$owl-sys-bg-primary;
  }

  button {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: space-evenly;
    cursor: pointer;
  }

  &--theme {
    &--default {
      /* appearances */
      background-color: theme.$owl-sys-bg-light;

      // li:hover {
      //   background-color: theme.$owl-sys-bg-primary;
      //   color: white;
      // }

      &-primary {
        @include theme.defaultTheme-branding;
      }
    }

    &--dark {
      /* appearances */
      background-color: theme.$owl-sys-bg-dark;
      color: white;

      // li:hover {
      //   background-color: theme.$owl-sys-bg-light;
      //   color: black;
      // }

      &-primary {
        @include theme.darkTheme-branding;
      }
    }
  }
  
  &--size {
    &-lg {
      @include theme.defaultTheme-typeface--large;
    }

    &-md {
      @include theme.defaultTheme-typeface--medium;
    }
    
    &-sm {
      @include theme.defaultTheme-typeface--small;
    }
  }
}

