@use './variables.scss' as *;
@use './font-brand' as *;
@use './font-icons' as *;

body {
  font-size: var(--typeface-body-sm-size);
  font-family: var(--typeface-body-sm-family), sans-serif;
  font-weight: var(--typeface-body-sm-weight);
}

h1 {
  font-size: var(--typeface-heading-1-size);
  font-family: var(--typeface-heading-1-family), sans-serif;
  font-weight: var(--typeface-heading-1-weight);
}
