@use 'sass:color';

@forward '@owlui/design/dist/styledictionary/scss';
@use '@owlui/design/dist/styledictionary/scss' as *;

@function toRGB($color) {
  @return color.red($color) + ', ' + color.green($color) + ', ' +
    color.blue($color);
}

:root {
  // COLOR FONT
  --color-font-primary: #{$owl-ref-palette-blue-500};
  --color-font-primary-highlight: #{$owl-ref-palette-blue-600};
  --color-font-secondary: #{$owl-ref-palette-blue-200};
  --color-font-success: #{$owl-ref-palette-green-500};
  --color-font-info: #{$owl-ref-palette-blue-600};
  --color-font-warning: #{$owl-ref-palette-yellow-500};
  --color-font-danger: #{$owl-ref-palette-red-500};
  --color-font-light: #{$owl-ref-palette-white};
  --color-font-dark: #{$owl-ref-palette-gray-800};
  --color-font-dark-highlight: #{$owl-ref-palette-gray-600};
  // COLORS SHADES - Bootstrap
  --bs-gray-100: #{$owl-ref-palette-gray-100};
  --bs-gray-200: #{$owl-ref-palette-gray-200};
  --bs-gray-300: #{$owl-ref-palette-gray-300};
  --bs-gray-400: #{$owl-ref-palette-gray-400};
  --bs-gray-500: #{$owl-ref-palette-gray-500};
  --bs-gray-600: #{$owl-ref-palette-gray-600};
  --bs-gray-700: #{$owl-ref-palette-gray-700};
  --bs-gray-800: #{$owl-ref-palette-gray-800};
  --bs-gray-900: #{$owl-ref-palette-gray-900};
  // COLORS PRIMES - Bootstrap
  --bs-blue: #{$owl-ref-palette-blue-500};
  --bs-indigo: #{$owl-ref-palette-indigo-500};
  --bs-purple: #{$owl-ref-palette-purple-500};
  --bs-pink: #{$owl-ref-palette-pink-500};
  --bs-red: #{$owl-ref-palette-red-500};
  --bs-orange: #{$owl-ref-palette-orange-500};
  --bs-yellow: #{$owl-ref-palette-yellow-500};
  --bs-green: #{$owl-ref-palette-green-500};
  --bs-teal: #{$owl-ref-palette-teal-500};
  --bs-cyan: #{$owl-ref-palette-cyan-500};
  --bs-gray: #{$owl-ref-palette-gray-500};
  --bs-black: #{$owl-ref-palette-black};
  --bs-white: #{$owl-ref-palette-white};
  // COLORS NAMED - Bootstrap
  --bs-primary: #{$owl-ref-palette-blue-500};
  --bs-secondary: #{$owl-ref-palette-gray-600};
  --bs-success: #{$owl-ref-palette-green-500};
  --bs-info: #{$owl-ref-palette-cyan-500};
  --bs-warning: #{$owl-ref-palette-yellow-500};
  --bs-danger: #{$owl-ref-palette-red-500};
  --bs-light: #{$owl-ref-palette-white};
  --bs-code-color: #{$owl-ref-palette-pink-500};
  --bs-highlight-bg: #{$owl-ref-palette-yellow-100};
  --bs-dark: var(--bs-gray-900);
  --bs-gray-dark: var(--bs-gray-900);
  --bs-body-bg: var(--bs-light);
  --bs-body-color: var(--bs-dark);
  --bs-border-color: var(--bs-gray-300);
  --bs-link-color: var(--bs-primary);
  --bs-link-hover-color: var(--color-font-primary-highlight);
  // COLORS NAMED RGB - Bootstrap
  --bs-primary-rgb: #{toRGB($owl-ref-palette-blue-500)};
  --bs-secondary-rgb: #{toRGB($owl-ref-palette-gray-600)};
  --bs-success-rgb: #{toRGB($owl-ref-palette-green-500)};
  --bs-info-rgb: #{toRGB($owl-ref-palette-cyan-500)};
  --bs-warning-rgb: #{toRGB($owl-ref-palette-yellow-500)};
  --bs-danger-rgb: #{toRGB($owl-ref-palette-red-500)};
  --bs-light-rgb: #{toRGB($owl-ref-palette-white)};
  --bs-dark-rgb: #{toRGB($owl-ref-palette-gray-900)};
  --bs-white-rgb: #{toRGB($owl-ref-palette-white)};
  --bs-black-rgb: #{toRGB($owl-ref-palette-black)};
  --bs-body-color-rgb: #{toRGB($owl-ref-palette-gray-900)};
  --bs-body-bg-rgb: #{toRGB($owl-ref-palette-white)};
  // LAYOUT
  --spacer: #{$owl-ref-layout-spacer};
  // TYPOGRAPHY - Bootstrap
  --bs-font-sans-serif: #{$owl-ref-typeface-body-md-family}, system-ui,
    -apple-system, Roboto, 'Helvetica Neue', Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --bs-body-font-size: #{$owl-ref-typeface-body-md-size};
  --bs-body-font-weight: #{$owl-ref-typeface-body-md-weight};
  // TYPOGRAPHY
  --typeface-body-xs-family: #{$owl-ref-typeface-body-xs-family};
  --typeface-body-xs-weight: #{$owl-ref-typeface-body-xs-weight};
  --typeface-body-xs-size: #{$owl-ref-typeface-body-xs-size};
  --typeface-body-sm-family: #{$owl-ref-typeface-body-sm-family};
  --typeface-body-sm-weight: #{$owl-ref-typeface-body-sm-weight};
  --typeface-body-sm-size: #{$owl-ref-typeface-body-sm-size};
  --typeface-body-md-family: #{$owl-ref-typeface-body-md-family};
  --typeface-body-md-weight: #{$owl-ref-typeface-body-md-weight};
  --typeface-body-md-size: #{$owl-ref-typeface-body-md-size};
  --typeface-body-lg-family: #{$owl-ref-typeface-body-lg-family};
  --typeface-body-lg-weight: #{$owl-ref-typeface-body-lg-weight};
  --typeface-body-lg-size: #{$owl-ref-typeface-body-lg-size};
  --typeface-heading-6-family: #{$owl-ref-typeface-heading-6-family};
  --typeface-heading-6-weight: #{$owl-ref-typeface-heading-6-weight};
  --typeface-heading-6-size: #{$owl-ref-typeface-heading-6-size};
  --typeface-heading-5-family: #{$owl-ref-typeface-heading-5-family};
  --typeface-heading-5-weight: #{$owl-ref-typeface-heading-5-weight};
  --typeface-heading-5-size: #{$owl-ref-typeface-heading-5-size};
  --typeface-heading-4-family: #{$owl-ref-typeface-heading-4-family};
  --typeface-heading-4-weight: #{$owl-ref-typeface-heading-4-weight};
  --typeface-heading-4-size: #{$owl-ref-typeface-heading-4-size};
  --typeface-heading-3-family: #{$owl-ref-typeface-heading-3-family};
  --typeface-heading-3-weight: #{$owl-ref-typeface-heading-3-weight};
  --typeface-heading-3-size: #{$owl-ref-typeface-heading-3-size};
  --typeface-heading-2-family: #{$owl-ref-typeface-heading-2-family};
  --typeface-heading-2-weight: #{$owl-ref-typeface-heading-3-weight};
  --typeface-heading-2-size: #{$owl-ref-typeface-heading-2-size};
  --typeface-heading-1-family: #{$owl-ref-typeface-heading-1-family};
  --typeface-heading-1-weight: #{$owl-ref-typeface-heading-1-weight};
  --typeface-heading-1-size: #{$owl-ref-typeface-heading-1-size};
}
