@forward '@owlui/design/dist/styledictionary/scss';
@use '@owlui/design/dist/styledictionary/scss' as *;

:root {
  --bg-primary: #{$owl-ref-palette-blue-500};
  --bg-secondary: #{$owl-ref-palette-blue-200};
  --bg-success: #{$owl-ref-palette-green-500};
  --bg-info: #{$owl-ref-palette-blue-600};
  --bg-warning: #{$owl-ref-palette-yellow-500};
  --bg-danger: #{$owl-ref-palette-red-500};
  --bg-light: #{$owl-ref-palette-white};
  --bg-dark: #{$owl-ref-palette-grey-800};
  --clr-primary: #{$owl-ref-palette-blue-500};
  --clr-secondary: #{$owl-ref-palette-blue-200};
  --clr-success: #{$owl-ref-palette-green-500};
  --clr-info: #{$owl-ref-palette-blue-600};
  --clr-warning: #{$owl-ref-palette-yellow-500};
  --clr-danger: #{$owl-ref-palette-red-500};
  --clr-light: #{$owl-ref-palette-white};
  --clr-dark: #{$owl-ref-palette-grey-800};
  --spacer: #{$owl-ref-layout-spacer};
  --typeface-body-sm-family: #{$owl-ref-typeface-body-sm-family};
  --typeface-body-sm-weight: #{$owl-ref-typeface-body-sm-weight};
  --typeface-body-sm-size: #{$owl-ref-typeface-body-sm-size};
  --typeface-body-md-family: #{$owl-ref-typeface-body-md-family};
  --typeface-body-md-weight: #{$owl-ref-typeface-body-md-weight};
  --typeface-body-md-size: #{$owl-ref-typeface-body-md-size};
  --typeface-body-lg-family: #{$owl-ref-typeface-body-lg-family};
  --typeface-body-lg-weight: #{$owl-ref-typeface-body-lg-weight};
  --typeface-body-lg-size: #{$owl-ref-typeface-body-lg-size};
  --typeface-heading-6-family: #{$owl-ref-typeface-heading-6-family};
  --typeface-heading-6-weight: #{$owl-ref-typeface-heading-6-weight};
  --typeface-heading-6-size: #{$owl-ref-typeface-heading-6-size};
  --typeface-heading-5-family: #{$owl-ref-typeface-heading-5-family};
  --typeface-heading-5-weight: #{$owl-ref-typeface-heading-5-weight};
  --typeface-heading-5-size: #{$owl-ref-typeface-heading-5-size};
  --typeface-heading-4-family: #{$owl-ref-typeface-heading-4-family};
  --typeface-heading-4-weight: #{$owl-ref-typeface-heading-4-weight};
  --typeface-heading-4-size: #{$owl-ref-typeface-heading-4-size};
  --typeface-heading-3-family: #{$owl-ref-typeface-heading-3-family};
  --typeface-heading-3-weight: #{$owl-ref-typeface-heading-3-weight};
  --typeface-heading-3-size: #{$owl-ref-typeface-heading-3-size};
  --typeface-heading-2-family: #{$owl-ref-typeface-heading-2-family};
  --typeface-heading-2-weight: #{$owl-ref-typeface-heading-3-weight};
  --typeface-heading-2-size: #{$owl-ref-typeface-heading-2-size};
  --typeface-heading-1-family: #{$owl-ref-typeface-heading-1-family};
  --typeface-heading-1-weight: #{$owl-ref-typeface-heading-1-weight};
  --typeface-heading-1-size: #{$owl-ref-typeface-heading-1-size};
}
