@use '@owlui/theme/src' as theme;

.table {
  &-header {
    padding: var(--spacer);
  }

  &-body {
    padding: var(--spacer);
  }

  &-row {
    padding: var(--spacer);
  }

  &-cell {
    padding: var(--spacer);
  }
}
