@use '@owlui/theme/src' as theme;

.table {
  &-header {
    padding: theme.$owl-sys-layout-spacer;
  }

  &-body {
    padding: theme.$owl-sys-layout-spacer;
  }

  &-row {
    padding: theme.$owl-sys-layout-spacer;
  }

  &-cell {
    padding: theme.$owl-sys-layout-spacer;
  }
}
