import * as React from 'react';
import styles from './styles.scss';

export const {{{componentCap}}} = () => {

  return <div className={[
            styles.{{{componentName}}}
        ].join(' ')} ></div>;
}

export default {{{componentCap}}};