import * as React from 'react'
import * as styles from './styles.module.scss'

export const {{{componentCap}}} = () => {
    
    return <div
        className={[
            styles.default.{{{componentCap}}}
        ].join(' ')}
    >{children}</div>
}

export default {{{componentCap}}};