@use '../global/variables' as vars;
@use '../global/font-brand' as *;
@use '../global/font-icons' as *;

.theme--default {
  --bg-primary: #{vars.$owl-ref-palette-blue-500};
  --bg-secondary: #{vars.$owl-ref-palette-blue-200};
  --bg-success: #{vars.$owl-ref-palette-green-500};
  --bg-info: #{vars.$owl-ref-palette-blue-600};
  --bg-warning: #{vars.$owl-ref-palette-yellow-500};
  --bg-danger: #{vars.$owl-ref-palette-red-500};
  --bg-light: #{vars.$owl-ref-palette-white};
  --bg-dark: #{vars.$owl-ref-palette-grey-800};
  --clr-primary: #{vars.$owl-ref-palette-blue-500};
  --clr-secondary: #{vars.$owl-ref-palette-blue-200};
  --clr-success: #{vars.$owl-ref-palette-green-500};
  --clr-info: #{vars.$owl-ref-palette-blue-600};
  --clr-warning: #{vars.$owl-ref-palette-yellow-500};
  --clr-danger: #{vars.$owl-ref-palette-red-500};
  --clr-light: #{vars.$owl-ref-palette-white};
  --clr-dark: #{vars.$owl-ref-palette-grey-800};
}

@mixin branding {
  background-color: var(--bg-light);
  color: var(--clr-dark);
  border-color: var(--bg-dark);
}

@mixin branding-primary {
  background-color: var(--bg-light);
  color: var(--clr-primary);
  border-color: var(--bg-primary);
}

@mixin branding-primary-alt {
  background-color: var(--bg-primary);
  color: var(--clr-light);
  border-color: var(--bg-primary);
}
