@use '@owlui/theme/src' as theme;

.dropdown {
  $ref: &;

  padding: 0;

  ul {
    height: 12rem;
    width: 100%;
    overflow-y: scroll;
    text-align: center;
  }

  &-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2, h4 {
      text-align: center;
      padding: 1rem;
    }

    button {
      width: 100%;
    }
  }


  &.theme--dark {
    #{$ref}-toggle.btn-primary {
      background-color: var(--bg-dark);
      color: var(--clr-light);
    }
  }
  
  &-size {
    &-lg {
      @include theme.typeface-lg;
      #{$ref}-toggle {
        @include theme.typeface-lg;
      }
      #{$ref}-item {
        @include theme.typeface-lg;
      }
    }

    &-md {
      @include theme.typeface-md;
      #{$ref}-toggle {
        @include theme.typeface-md;
      }
      #{$ref}-item {
        @include theme.typeface-md;
      }
    }
    
    &-sm {
      @include theme.typeface-sm;
    }
  }
}