@use '@owlui/theme/src' as theme;

.dropdown {
  $ref: &;

  padding: var(--spacer);

  ul {
    height: 12em;
    overflow-y: scroll;
  }


  &.theme--dark {
    #{$ref}-toggle.btn-primary {
      background-color: var(--bg-dark);
      color: var(--clr-light);
    }
  }
  
  &-size {
    &-lg {
      @include theme.typeface-lg;
      #{$ref}-toggle {
        width: 10em;
        @include theme.typeface-lg;
      }
      #{$ref}-item {
        @include theme.typeface-lg;
      }
    }

    &-md {
      @include theme.typeface-md;
      #{$ref}-toggle {
        @include theme.typeface-md;
        width: 8em;
      }
      #{$ref}-item {
        @include theme.typeface-md;
      }
    }
    
    &-sm {
      @include theme.typeface-sm;
    }
  }
}