@use '@owlui/theme/src' as theme;

// Mixins
@mixin tab-button-general {
  border-left: .5px solid grey;
  border-right: .5px solid grey;
  box-shadow:0px 0px 0px 0px rgba(0,0,0,0.4);
  margin-bottom: -2px;
}

@mixin tab-button-common {
  background-color: theme.$owl-sys-bg-light;
  color: black;
  border-bottom: 2px solid white;
  @include tab-button-general
}

@mixin tab-button-dark-common {
  background-color: theme.$owl-ref-palette-dark;
  color: white;
  border-bottom: 2px solid theme.$owl-ref-palette-dark;
  @include tab-button-general
}

// Tab button styles
.tab {
  &-button{
    box-shadow:0px 0px 3px 1px rgba(0,0,0,0.4)
    ;
    margin-right: .5rem;
    border: none;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: theme.$owl-ref-palette-disabled;
    color: theme.$owl-sys-bg-light;
    border-top: 4px solid theme.$owl-ref-palette-disabled;
    padding: 0.3rem 1.25rem;

    &-active{
      border-top: 4px solid blue;
      @include tab-button-common;
    }

    &:hover, &:focus, &:active{
      border-top: 4px solid red;
      @include tab-button-common;
    }

    &-dark {
      background-color: theme.$owl-ref-palette-disabled;
      padding: 0.3rem 1.25rem;

      &-active{
        border-top: 4px solid blue;
        @include tab-button-dark-common
      }

      &:hover, &:focus, &:active{
        border-top: 4px solid red;
        @include tab-button-dark-common
      }
    }
  }
}
